body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3e5ab;
    color: #333;
 }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b3621;
    padding: 15px 30px;
    color: white;
    position: sticky;
    top: 0;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/hero-bg.avif');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
}
.hero h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.btn{
    background-color: #d2691e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.menu-section{
    padding: 40px 20px;
    text-align: center;
}
.menu-section h2{
    color: #4b3621;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card-info{
    padding: 20px;
}
.price{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #d2691e;
    font-weight: bold;
}
.about-section{
    background-color: #dbc1ac;
    padding: 60px 20px;
    text-align: center;
    color: #4b3621;
}
.about-content{
    max-width: 800px;
    margin: 0 auto;
    font-size: 0.8rem;
    line-height: 1.6;
}
.about-section h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.footer{
    background-color: #4b3621;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
